.pokecard {
    width: 100%;
    max-width: 350px;
    border-radius: 0.7em;
    border: 0.7em solid #ccc;
    cursor: pointer;
    transition: transform 150ms ease;
  }
  
  .pokecard:hover {
    transform: scale(1.03);
  }
  
  .pokecard__header {
    background-color: #999;
    aspect-ratio: 2;
    position: relative;
  }
  
  .pokecard__image {
    position: absolute;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    top: 1.5em;
  }
  
  .pokecard__body {
    padding: 3.5em 1em 2em;
  }
  
  .pokecard__name {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 0.2em;
  }
  
  .pokecard__types {
    display: flex;
    justify-content: center;
    gap: 0.7em;
    margin-bottom: 1em;
  }
  
  .pokecard__typename {
    text-transform: capitalize;
  }
  
  .pokecard__typename:nth-child(2)::before {
    content: "/";
    padding-right: 0.7em;
  }
  
  .pokecard__hr {
    margin-bottom: 1em;
    border: 1px solid #ccc4;
  }
  
  .pokecard__stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 1.5em 0.2em;
  }
  
  .pokecard__stat {
    display: grid;
    gap: 0.5em;
    justify-items: center;
  }
  
  .pokecard_stat_name {
    font-size: 0.7rem;
    font-weight: 300;
    text-transform: uppercase;
  }
  
  .pokecard_stat_value {
    font-weight: 500;
    font-size: 1rem;
  }
  
  



  .fire-border {
    border-color: var(--fire-border);
  }
.water-border {
    border-color: var(--water-border);
  }
.grass-border {
    border-color: var(--grass-border);
  }
.bug-border {
    border-color: var(--bug-border);
  }
.normal-border {
    border-color: var(--normal-border);
  }
.poison-border {
    border-color: var(--poison-border);
  }
.electric-border {
    border-color: var(--electric-border);
  }
.ground-border {
    border-color: var(--ground-border);
  }
.fairy-border {
    border-color: var(--fairy-border);
  }
.fighting-border {
    border-color: var(--fighting-border);
  }
.psychic-border {
    border-color: var(--psychic-border);
  }
.rock-border {
    border-color: var(--rock-border);
  }
.ghost-border {
    border-color: var(--ghost-border);
  }
.ice-border {
    border-color: var(--ice-border);
  }
.dragon-border {
    border-color: var(--dragon-border);
  }
.dark-border {
    border-color: var(--dark-border);
  }
.steel-border {
    border-color: var(--steel-border);
  }